# KDE Config File
[Desktop Entry]
Type=Application
Exec=massif-visualizer %u
MimeType=application/x-valgrind-massif;
# FIXME: get an icon!
Icon=office-chart-area
# FIXME: write docs!
# X-DocPath=kcachegrind/index.html
Terminal=false
Name=Massif-Visualizer
Name[ca]=Massif-Visualizer
Name[da]=Massif-Visualizer
Name[de]=Massif-Visualizer
Name[es]=Visualizador Massif
Name[nb]=Massif visualisering
Name[nl]=Massif - programma voor visualiseren
Name[pl]=Wizualizer-Massif
Name[pt]=Visualizador Massif
Name[pt_BR]=Massif-Visualizer
Name[sv]=Massif visualisering
Name[uk]=Візуалізатор Massif
Name[x-test]=xxMassif-Visualizerxx
GenericName=Profiler Frontend
GenericName[ca]=Interfície de Profiler
GenericName[da]=Grænseflade til profilering
GenericName[de]=Profiler-Oberfläche
GenericName[es]=Interfaz del analizador
GenericName[ga]=Comhéadan ar Phróifíleoir
GenericName[nb]=Grensesnitt for profilvisning
GenericName[nds]=Profiler-Böversiet
GenericName[nl]=Profiler-hulpprogramma
GenericName[pl]=Nakładka programu profilującego
GenericName[pt]=Interface de Análise de Performance
GenericName[pt_BR]=Frontend do Profiler (Analisador)
GenericName[sv]=Profileringsgränssnitt
GenericName[uk]=Інтерфейс до Profiler
GenericName[x-test]=xxProfiler Frontendxx
Comment=Visualization of Memory Profiling Data
Comment[ca]=Visualització de dades de perfilat de la memòria
Comment[cs]=Vizualizace dat profilování paměti
Comment[da]=Visualisering af data for hukommelsesprofilering
Comment[de]=Visualisierung von Daten des Speicherverhaltens eines Programms
Comment[es]=Visualización de datos de análisis de memoria
Comment[nb]=Visualisering av minneprofileringsdata
Comment[nds]=Spiekerleisten-Looptietdaten sichtbor maken
Comment[nl]=Visualisatie van geheugenprofileringsgegevens
Comment[pl]=Wizualizacja danych profilowania pamięci
Comment[pt]=Visualização dos Dados de Performance da Memória
Comment[pt_BR]=Visualização de Dados de Análise da Memória
Comment[sv]=Visualisering av profileringsdata för minne
Comment[uk]=Візуалізація даних профілювання пам’яті
Comment[x-test]=xxVisualization of Memory Profiling Dataxx
Categories=Qt;KDE;Development;
