# KDE Config File
[Desktop Entry]
Type=Application
Exec=massif-visualizer %u
MimeType=application/x-valgrind-massif;
# FIXME: get an icon!
Icon=office-chart-area
# FIXME: write docs!
# X-DocPath=kcachegrind/index.html
Terminal=false
Name=Massif-Visualizer
Name[pt_BR]=Massif-Visualizer
Name[x-test]=xxMassif-Visualizerxx
GenericName=Profiler Frontend
GenericName[pt_BR]=Frontend do Profiler (Analisador)
GenericName[x-test]=xxProfiler Frontendxx
Comment=Visualization of Memory Profiling Data
Comment[pt_BR]=Visualização de Dados de Análise da Memória
Comment[x-test]=xxVisualization of Memory Profiling Dataxx
Categories=Qt;KDE;Development;
