# KDE Config File
[Desktop Entry]
Type=Application
Exec=massif-visualizer %u
MimeType=application/x-valgrind-massif;
# FIXME: get an icon!
Icon=massif-visualizer
# FIXME: write docs!
# X-DocPath=kcachegrind/index.html
StartupWMClass=massif-visualizer
Terminal=false
Name=Massif-Visualizer
Name[ar]=مصور Massif
Name[bs]=Massif-Visualizer
Name[ca]=Massif-Visualizer
Name[ca@valencia]=Massif-Visualizer
Name[cs]=Massif-Visualizer
Name[da]=Massif-Visualizer
Name[de]=Massif-Visualizer
Name[el]=Massif-Visualizer
Name[en_GB]=Massif-Visualizer
Name[eo]=Massif-Vidigilo
Name[es]=Visualizador Massif
Name[et]=Massif-Visualizer
Name[eu]=Massif-Visualizer
Name[fi]=Massif-visualisointi
Name[fr]=Massif-Visualizer
Name[ga]=Amharcléiritheoir Massif
Name[gl]=Visualizador Massif
Name[he]=Massif-Visualizer
Name[hi]=मासिफ-विज़ुअलाइज़र
Name[hu]=Massif-megjelenítő
Name[ia]=Massif-Visualizer (Visualisator massive)
Name[it]=Visualizzatore Massif
Name[ka]=Massif-Visualizer
Name[kk]=Massif визуализаторы
Name[ko]=Massif 시각화 도구
Name[mr]=मास्सीफ-व्हिज्युअलायझर
Name[nb]=Massif visualisering
Name[nds]=Massif-Visualiserer
Name[nl]=Massif - programma voor visualiseren
Name[nn]=Massif-visualisering
Name[pl]=Wizualizacja-Massif
Name[pt]=Visualizador Massif
Name[pt_BR]=Massif-Visualizer
Name[ro]=Massif-Visualizer
Name[ru]=Визуализатор Massif
Name[sa]=Massif-विजुअलाइजर
Name[sk]=Massif-Visualizer
Name[sl]=Massif-Visualizer
Name[sv]=Massif visualisering
Name[tr]=Massif Görselleyicisi
Name[ug]=Massif-Visualizer
Name[uk]=Візуалізатор Massif
Name[zh_CN]=Massif-Visualizer
Name[zh_TW]=Massif-Visualizer
GenericName=Profiler Frontend
GenericName[ar]=واجهة أمامية لـProfiler
GenericName[bs]=Profajlerski program
GenericName[ca]=Frontal de l'analitzador de rendiment
GenericName[ca@valencia]=Frontal de l'analitzador de rendiment
GenericName[cs]=Rozhraní pro profilaci
GenericName[da]=Grænseflade til profilering
GenericName[de]=Profiler-Oberfläche
GenericName[el]=Σύστημα περιβάλλοντος προφίλ
GenericName[en_GB]=Profiler Frontend
GenericName[eo]=Profilila Fasado
GenericName[es]=Interfaz del analizador
GenericName[et]=Profileerimisrakendus
GenericName[eu]=Profilatzailearen interfazea
GenericName[fi]=Profiloijan käyttöliittymä
GenericName[fr]=Interface de profilage
GenericName[ga]=Comhéadan ar Phróifíleoir
GenericName[gl]=Interface do analizador
GenericName[he]=ממשק למסווג
GenericName[hi]=प्रोफ़ाइल फ़्रंटएंड
GenericName[hu]=Ábrázoló előtétprogram
GenericName[ia]=Fronte de profilator
GenericName[it]=Frontend dell'analizzatore di prestazioni
GenericName[ka]=პროფაილერის წინაბოლო
GenericName[kk]=Profiler-дың интерфейсі
GenericName[ko]=프로파일러 프론트엔드
GenericName[mr]=प्रोफाइलर फ्रंटएण्ड
GenericName[nb]=Grensesnitt for profilvisning
GenericName[nds]=Profiler-Böversiet
GenericName[nl]=Profiler-hulpprogramma
GenericName[nn]=Grensesnitt for profilvising
GenericName[pl]=Nakładka programu profilującego
GenericName[pt]=Interface de Análise de Performance
GenericName[pt_BR]=Interface de análise de performance
GenericName[ro]=Interfață grafică pentru profilatoare
GenericName[ru]=Представитель данных профилировщика
GenericName[sa]=प्रोफाइल्स् Frontend
GenericName[sk]=Rozhranie pre profiláciu
GenericName[sl]=Začelje izdelovalnika profila
GenericName[sv]=Profileringsgränssnitt
GenericName[tr]=Profilleyici Ön Yüzü
GenericName[uk]=Інтерфейс до Profiler
GenericName[zh_CN]=分析器前端
GenericName[zh_TW]=分析器前端
Comment=Visualization of Memory Profiling Data
Comment[ar]=تصوير بيانات الذاكرة
Comment[bs]=Vizualizacija memorijsko profilizirajućih podatka
Comment[ca]=Visualització de les dades per a l'anàlisi del rendiment de la memòria
Comment[ca@valencia]=Visualització de les dades per a l'anàlisi del rendiment de la memòria
Comment[cs]=Vizualizace dat profilování paměti
Comment[da]=Visualisering af data for hukommelsesprofilering
Comment[de]=Visualisierung von Daten des Speicherverhaltens eines Programms
Comment[el]=Οπτικοποίηση δεδομένων προφίλ μνήμης
Comment[en_GB]=Visualisation of Memory Profiling Data
Comment[eo]=Bildigo de Memorprofilaj Datumoj
Comment[es]=Visualización de datos de análisis de memoria
Comment[et]=Mälu profileerimise andmete visualiseerimise vahend
Comment[eu]=Memoria profilatzeko datuak irudikatzea
Comment[fi]=Visualisointi muistiprofiloinnin tiedoista
Comment[fr]=Visualisation des données de profilage de la mémoire
Comment[ga]=Amharcléiriú ar Shonraí Próifílithe Chuimhne
Comment[gl]=Visualización dos datos da análise de rendemento.
Comment[he]=המחשה של נתוני סיווג זיכרון
Comment[hi]=मेमोरी प्रोफाइलिंग डेटा का विज़ुअलाइज़ेशन
Comment[hu]=Memória adatábrázolás megjelenítése
Comment[ia]=Visualisation de datos de profilar de memoria
Comment[it]=Visualizzazione dei dati di profiling della memoria
Comment[ka]=მეხსიერების პროფილირების მონაცემების ვიზუალიზაცია
Comment[kk]=Жадын профильдеу деректерінің визуализаторы
Comment[ko]=메모리 프로파일링 데이터 시각화
Comment[mr]=स्मृती प्रोफाइलिंग डेटाचे व्हिज्युअलायझेशन
Comment[nb]=Visualisering av minneprofileringsdata
Comment[nds]=Spiekerleisten-Looptietdaten sichtbor maken
Comment[nl]=Visualisatie van geheugenprofileringsgegevens
Comment[nn]=Visualisering av minneprofildata
Comment[pl]=Wizualizacja danych profilowania pamięci
Comment[pt]=Visualização dos Dados de Performance da Memória
Comment[pt_BR]=Visualização de Dados de Análise da Memória
Comment[ro]=Vizualizarea datelor de profilare a memoriei
Comment[ru]=Визуализация данных потребления памяти
Comment[sa]=स्मृतिप्रोफाइलिंगदत्तांशस्य दृश्यीकरणं
Comment[sk]=Vizualizácia dát profilovania pamäte
Comment[sl]=Vizualizacija podatkov profiliranja pomnilnika
Comment[sv]=Visualisering av profileringsdata för minne
Comment[tr]=Bellek profilleme verisinin görselleştirilmesi
Comment[ug]=ئىچكى ساقلغۇچتىكى سانلىق-مەلۇماتلارنىڭ سەپلىنىشىنى سۈرۈتلەشتۈرۈش
Comment[uk]=Візуалізація даних профілювання пам’яті
Comment[zh_CN]=可视化内存分析数据
Comment[zh_TW]=記憶體效能分析資料視覺化
Categories=Qt;KDE;Development;
